#nav-mobile {
  display: none;
}

/* Hamburger icon and animation */
#burger-navigation {
  width: 40px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger-navigation span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#burger-navigation span:nth-child(1) {
  top: 0px;
}

#burger-navigation span:nth-child(2) {
  top: 13px;
}

#burger-navigation span:nth-child(3) {
  top: 26px;
}

#burger-navigation.open span:nth-child(1) {
  top: 13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#burger-navigation.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#burger-navigation.open span:nth-child(3) {
  top: 13px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Mobile navigation */
#header-info {
  z-index: 999 !important;
  position: relative;
}

.nav-mobile {
  z-index: 99 !important;
  position: relative;
  background: var(--primaryBackgroundColor);
}

.nav-mobile-main {
  width: 100%;
  height: 475px;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
  background: var(--primaryBackgroundColor);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}

.nav-mobile-main a {
  color: #fff;
  font-size: 1.1rem;
  opacity: 0;
  transition-delay: 2s;
  transition: 1s ease-in-out;
}

.nav-mobile-main a:hover {
  text-decoration: line-through;
}

.nav-mobile h1 {
  font-size: 4rem;
}

.menu-active {
  transform: translateY(0%);
}

.menu-active a {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  p,
  span {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  /* Mobile Navigation */
  .info-social {
    display: none;
  }

  .header-info {
    justify-content: center;
  }

  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: block;

    h1 {
      font-size: 1.4rem;
    }
  }
  /* End mobile navigation */

  .map iframe {
    height: 400px;
  }

  .footer-items {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0.75rem;
  }

  .footer-right {
    text-align: center;
  }

  .footer-mid {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --sectionPadding: 4rem 0;
  }

  .menu-title h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .menu-title h5 {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }

  .sub-section-title h2 {
    font-size: 1.2rem;
  }

  #header-info {
    display: none;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero h4 {
    font-size: 0.9rem;
  }

  .about p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .menu {
    padding: 3rem 0;
  }

  .menu-img {
    position: relative;
    width: 200px;
    height: 250px;
    display: inline-block;
  }

  .reservation-item-info {
    text-align: center;
  }

  .contact-info-social {
    justify-content: center;
  }

  .opening-times-schedule {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
